# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Папки редакторов
.vscode/
.idea/

# Кэш-браузеры и временные файлы
*.tmp
*.swp

# Игровые билды (если используешь Unity, Godot и т.п.)
build/
dist/
